*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #111827;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    border: solid red 2px;
    position: relative;
}

ul {
    list-style: none;
}

.section {
    width: 100%;
}

.section__wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    /* justify-content: space-between; */
}

.menu {
    width: 656px;
    display: flex;
    justify-content: flex-end;
    margin-left: 418px;
}

.mainmenu__list {
    display: flex;
    align-items: center;
}

.mainmenu__link {
    text-decoration: none;
    font-family: 'DMSans-Medium', 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: 500;
    color: #F9FAFB;
}

li.mainmenu__item {
    margin: 0 20px;
}

.menu-button {
    width: 132px;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 10px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    border-radius: 5px;
    margin-left: 60px;
}

.menu-button a {
    text-decoration: none;
    color: #F9FAFB;
    font-family: 'DMSans-Medium', 'DM Sans', sans-serif;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.header-content {
    margin-bottom: 61px;
}

.content__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-image img {
    height: 746px;
    width: 100%;
    object-fit: cover;
    padding-left: 100px;
}

.content-items {
    display: flex;
    flex-direction: column;
    max-width: 546px;
    margin-top: 198px;
}

.content-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 315px;
}

.watch-button {
    display: flex;
    align-items: center;
    width: 151px;
}

.watch-button img {
    margin-right: 20px;
}

.watch-button p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #F9FAFB;
}

.joinUs-button {
    align-items: flex-start;
    padding: 20px 40px;
    gap: 10px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    border-radius: 6px;
}

.joinUs-button a {
    font-family: 'DMSans-Medium', 'DM Sans', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #F9FAFB;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.joinUs-button a:hover {
    color: red;
}

.content-h2 {
    font-weight: 700;
    font-size: 58px;
    line-height: 84px;
    font-family: 'DMSans-Medium', 'DM Sans', sans-serif;
    background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.content-p {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #E5E7EB;
    opacity: 0.8;
    font-family: 'DMSans-Medium', 'DM Sans', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    margin-top: 29px;
    margin-bottom: 31px;
}


/* SERVICE SECTION */
.service {
    display: flex;
}

.service__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: #FFFFFF;
    font-family: 'DMSans-Medium', 'DM Sans', sans-serif;
    text-align: center;
}

.service__text {
    width: 587px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'DMSans-Medium', 'DM Sans', sans-serif;
}

.service__content {
    display: grid;
}