*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #111827;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    border: solid red 2px;
    position: relative;
}

ul {
    list-style: none;
}

.section {
    width: 100%;
}

.section__wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    /* justify-content: space-between; */
}

.menu {
    width: 656px;
    display: flex;
    justify-content: flex-end;
    margin-left: 418px;
}

.mainmenu__list {
    display: flex;
    align-items: center;
}

.mainmenu__link {
    text-decoration: none;
    font-family: 'DMSans-Medium', 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: 500;
    color: #F9FAFB;
}

li.mainmenu__item {
    margin: 0 20px;
}

.menu-button {
    width: 132px;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 10px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    border-radius: 5px;
    margin-left: 60px;
}

.menu-button a {
    text-decoration: none;
    color: #F9FAFB;
    font-family: 'DMSans-Medium', 'DM Sans', sans-serif;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}



.content__wrapper {
    
    /* background: url('../img/Saly-19.svg') no-repeat right center; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    background: url('../img/Saly-19.svg') no-repeat right;
    background-size: 75%;
    background-position: top right;
    height: 746px;
}

.content-items {
    display: flex;
    flex-direction: column;
    width: 546px;
}

.watch-button {
    display: flex;
}

.content-buttons {
    display: flex;
}

.content-h2 {
    font-weight: 700;
    font-size: 58px;
    line-height: 84px;
    font-family: 'DMSans-Medium', 'DM Sans', sans-serif;
    background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.content-p {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #E5E7EB;
    opacity: 0.8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}
